body {
    margin: 0;
  }
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
  } 
  
  .hidden {
    display: none;
  }
  
  .visible {
    color: #000000;
  }
  
  .active {
    display: block;
  }
  
  .questionFormVisible {
    display: flex;
  }
  p{
      margin: 0px;
  }
  .header{
    text-align: center;
    font-size: 24px ;
    background-color: #000000;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .wrapper {
    margin: auto;
    text-align: center;
    max-width: 500px;
  
  }
  
  button {
    font-size: 16px;
    background: #ec13ab;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
  }
  
  .play {
    margin-bottom: 20px;
  }
  
  .gallows,
  .platform,
  .rope,
  .verticalScaffold,
  .horizontalScaffold {
    width: 100px;
    margin-left: 12px;
  }
  
  .platform,
  .verticalScaffold,
  .horizontalScaffold,
  .rope {
    display: block;
  }
  
  .platform,
  .verticalScaffold,
  .horizontalScaffold,
  .rope {
    position: absolute;
    background: #000000;
  }
  
  .gallows {
    position: absolute;
    left: 38px;
    top: 120px;
  }
  
  .platform {
    left: 20px;
    top: 250px;
    height: 5px;
  }
  
  .verticalScaffold {
    left: 70px;
    height: 250px;
    width: 5px;
  }
  
  .horizontalScaffold {
    left: 70px;
    height: 5px;
  }
  
  .rope {
    left: 165px;
    height: 40px;
    width: 2px;
  }
  
  .head,
  .torso,
  .leftArm,
  .rightArm,
  .leftLeg,
  .rightLeg {
    position: absolute;
  }
  
  .torso,
  .leftArm,
  .rightArm,
  .leftLeg,
  .rightLeg {
    background: #000000;
    width: 4px;
  }
  
  .head {
    left: 145px;
    top: 40px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 4px solid #000000;
  }
  
  .torso {
    left: 165px;
    top: 87px;
    height: 70px;
  }
  
  .leftArm {
    left: 157px;
    top: 85px;
    height: 50px;
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  
  .rightArm {
    left: 173px;
    top: 85px;
    height: 50px;
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  
  .leftLeg {
    left: 155px;
    top: 143px;
    height: 60px;
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  
  .rightLeg {
    left: 175px;
    top: 143px;
    height: 60px;
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  #GuessInput{
    font-size: 16px;
    padding: 8px 0px;
  }
  
  .blank {
    margin-top: 350px;
    margin-bottom: 50px;
  }
  /*spans class to hide the letters and show it as blank*/
  .letterSpace {
    color: transparent;
    border-bottom: 3px solid #000000;
    font-size: 3px;
  }
  /* the right answers size*/
  .correct {
    font-size: 24px;
  }
  /*display and hide form*/
  form {
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .guessForm input {
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    width: 150px;
  }
  
  .wrong {
    display: flex;
    max-width: 320px;
    padding: 10px;
    margin-left: 24px;
    margin-bottom: 20px;
   
  }
  
  .wrong p {
    margin: 0;
    color: #FF0000;
    margin-right: 10px;
  }
  
  .playAgain {
    margin-bottom: 50px;
  }
  
  
  @media (min-width: 450px) {
    .gallows {
      left: 200px;
    }
    .startButtonContainer {
      left: 200px;
    }
  } 
  
   @media (min-width: 800px) {
    .gallows {
      left: 400px;
    }
    .startButtonContainer {
      left: 400px;
    }
  }
  
  @media (min-width: 1200px) {
    .gallows {
      left: 630px;
    }
    .startButtonContainer {
      left: 620px;
    }
  } 
  